{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change Password </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
        body{
            height: 100%;
        }
        .in-center{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
        }
        .custom{
            padding: 2rem;
            height: 30rem;
            width: 30rem;
        }    
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            cursor: pointer;
            color: blue;
        }
        span{
            cursor: pointer;
        }
        .face{
            color: #FFCCCB;
        }

    </style>
</head>
<body>
    <section class="in-center">
        <div class="card container custom bg-dark rounded-3 border-">
            {% if error %}
            <div class="d-flex align-items-center h-100">
                <div class="d-flex flex-column align-items-center">
                <h2 class="text-light"><i class="bi bi-emoji-expressionless-fill face"></i></h2>
                <h2 class="text-danger">This url is expired! generate a new one</h2>
                </div>
            </div>
            {%elif activate %}
                <div class="change-success text-light text-center">
                    <img src="{% static 'checkmark.png' %}" height="120" width="120">
                    <h2 class="mb-4">{{ activate }}</h2>
                    <a id="close" class="text-info">Close this Tab</a>
                </div>
            {% else %}
            <div class="change-success text-light text-center d-none">
                <img src="{% static 'checkmark.png' %}" height="120" width="120">
                <h2 class="mb-4">Your password has been changed Sucessfully</h2>
                <a id="close" class="text-info">Close this Tab</a>
            </div>
            <div id="passform">
             <h1 class="card-title text-center text-light">Change Password</h1>
             <form id="password-form" class="mt-5">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label text-light">New Password</label>
                  <input type="text" class="form-control" name="password" id="password" placeholder="New password">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label text-light">Confirm Password</label>
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-light " id="submit">Submit</button>
                    <button class="btn btn-outline-light d-none" type="button" disabled id="submit-load">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Submitting
                    </button>
                </div>
                
              </form>
            </div>
            {% endif %}
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $( document ).ready(function() {
            let url = window.location.origin
            let token = "{{data.token}}";
            let uidb64 = "{{data.uidb64}}";
            function PasswordReset(data){
                var settings = {
                    "url": `${url}/api/password-reset/`,
                    "method": "PATCH",
                    "timeout": 0,
                    "headers": {
                      "X-CSRFToken": `${JSON.parse(data).csrfmiddlewaretoken}`,
                      "Content-Type": "application/json"
                    },
                    "data": data,
                    beforeSend: function(){
                        $("#submit").addClass("d-none");
                        $("#submit-load").removeClass("d-none");
                    },
                    error: function (xhr,error) {
                        $("#submit-load").addClass("d-none");
                        $("#submit").removeClass("d-none");

                        $("#reset-form").find('input').attr('disabled', false).css('opacity',1);
                        if (xhr.status == 400) {
                            let json = JSON.parse(xhr.responseText);
                            for(var field in json){
                                toastr.error(json[field][0]);
                            }         
                        } else {
                            console.log("Something went Wrong Try again..");
                        }
                      }

                  };
                  $.ajax(settings).done(function (response) {
                    $("#submit-load").addClass("d-none");
                    $("#submit").removeClass("d-none");
                    $("#passform").addClass("d-none");
                    $(".change-success").removeClass("d-none");
                  });

            }
            $('#password-form').submit(function(e){ e.preventDefault(); }).validate({
                rules:{
                    password:{
                        required: true,
                        minlength: 6
                    },
                    confirm_password: {
                        required: true,
                        minlength: 6,
                        equalTo: '#password'
                    }
                },
                messages: {
                    password: {
                        required: 'Please enter a password',
                        minlength: 'Your password must be at least 6 characters long'
                        },
                        confirm_password: {
                        required: 'Please confirm your password',
                        minlength: 'Your password must be at least 6 characters long',
                        equalTo: 'The passwords do not match'
                        }
                },
                errorPlacement: function(error, element) {
                    error.insertAfter(element).css("color","red");
                },
                submitHandler: function (form) {
                    var formData = $(form).serializeArray();
                    formData.push({name:'token',value:token});
                    formData.push({name:'uidb64',value:uidb64});
                    var formattedData = formData.reduce(function(acc, field) {
                        acc[field.name] = field.value;
                        return acc;
                      }, {});
                    var JSONformdata = JSON.stringify(formattedData);
                    PasswordReset(JSONformdata);
                    $("#password-form").find('input').attr('disabled', true).css('opacity',0.5);
                    return false;
                }


            });

            $("#close").on('click',function(){
                window.close();
            });
            
        });
    </script>
    {% comment %} <script> localStorage.clear();</script> {% endcomment %}
</body>
</html>